@tailwind base;
@tailwind components;
@tailwind utilities;


@media (max-width: 640px) { 
    .active {
        transition: 0.2s all ease-out;
        height: 100vh;
        flex-direction: column;
    }
    .active logo 
    {
        height: 20%;
        
    }
    .active logo div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 30px;
    }
    .active ul {
        height: 80%;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
 }
